/* 전체 적용 (margin,padding) */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
}

html {
  font-size: 16px;
} */

/* header fixed로 인한 contents 영역 침범으로 인한 padding-top */
body {
  padding-top: 70px;
}

/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 9px 20%;
  border-bottom: 1px solid #dfdfdf;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

/* 헤더 이미지 */
.headerImg {
  width: 30%;
  height: auto;
}

/* 헤더 로그인 */
.loginBtn {
  background-color: #3692ff;
  color: white;
  border-radius: 8px;
  padding: 12px 22.4px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.625rem;
  width: 128px;
  height: 48px;
  white-space: nowrap;
  align-content: center;
}

/* 상단 배너 */
.contents {
  display: flex;
  background-color: #cfe5ff;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  z-index: 11;
}

/* 상단/하단 배너 요소의 박스요소 스타일 적용  */
.contents .content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  max-width: fit-content;
}

/* content > h2, a 태그 */
.content-text {
  flex: 1;
  text-align: left;
}

/* 상단/하단 배너 요소의 박스 안 h태그 스타일 적용 */
.content h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 56px;
}

/* 배너 요소 안 '구경하러 가기' 버튼 스타일 적용 */
.contentBtn {
  display: inline-block;
  padding: 16px 10%;
  background-color: #3692ff;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
}

/* 배너(contents) 안의 이미지 요소 크기 적용 */
.contentImg {
  width: 40vw;
  height: auto;
  object-fit: contain;
  align-items: end;
}

/* main 컨텐츠 Display 적용 */
.mainContents {
  display: flex;
  background-color: white;
  flex-direction: column;
}

/* main 요소 안 각 Section 요소  */
.mainContent,
.mainContent_even {
  padding: 5% 30%;
  gap: 5%;
  background-color: #fcfcfc;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

/* main 컨텐츠 이미지 요소 크기 적용 */
.mainContentImg {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.imageText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-wrap: nowrap;
}

/* mainContent 내부의 글자 요소 스타일 적용 */
.imageText h4 {
  color: #3692ff;
  font-weight: 700;
  font-size: 1.125vw;
}

.imageText h2 {
  color: #374151;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 2%;
}

.imageText p {
  color: #374151;
  font-weight: 500;
  font-size: 1.5vw;
}

/* footer */
footer {
  background-color: #111827;
  display: flex;
  padding: 32px 5%;
}

/* footer안의 내부 요소를 감싼 div 스타일 적용 */
.footerContents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

/* footer 좌측 content   */
.footerContents span {
  font-weight: 400;
  font-size: 1.6rem;
  color: #9ca3af;
}

/* footer 중앙 content */
.footerPolicy {
  display: flex;
  gap: 30px;
}

.footerPolicy a {
  font-weight: 400;
  font-size: 1rem;
  color: #9ca3af;
  text-decoration: none;
}

/* footer 우측 content */
.footerSns {
  display: flex;
  gap: 12px;
}

.footerSns a {
  width: 20px;
  height: 20px;
  text-decoration: none;
}
