.product-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.product-list__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
  gap: 24px;
  justify-content: center;
}

.add-item-button {
  color: #f3f4f6;
  background-color: #3692ff;
  width: 133px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.order-select {
  border: 1px solid #e5e7eb;
  width: 130px;
  height: 42px;

  border-radius: 12px;
  padding: 12px 20px;
}
